<div class="pokemon-list-container">
  <header class="pokedex-header">
    <h1>Pokédex</h1>
  </header>

  <div class="controls-section">
    <app-filter-controls
      (filterChange)="handleFilterChange($event)">
    </app-filter-controls>
  </div>

  <div class="pokemon-list">
    <ng-container *ngFor="let gen of pokemonByGen">
      <h2 class="generation-header">{{gen.name}}</h2>
      <div class="pokemon-grid">
        <app-pokemon-card 
          *ngFor="let pokemon of gen.pokemon"
          [pokemon]="pokemon">
        </app-pokemon-card>
      </div>
    </ng-container>
  </div>

  <div *ngIf="loading" class="loading">
    Loading Pokémon...
  </div>
  <div *ngIf="!loading && !pokemonByGen.length && filteredPokemon.length > 0" class="loading">
    No Pokémon found matching your filters.
  </div>
  <div *ngIf="!loading && pokemonByGen.length > 0 && displayOffset >= filteredPokemon.length" class="loading">
    Gotta Catch 'Em All!
  </div>
</div>

<app-back-to-top></app-back-to-top> 